body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.warp{
    display: flex;
}
.warp .content{
    flex: 60%;
}
.content .flex{
    margin: 30px;
    padding-left: 50px;
}
.content .flex .post{
    font-size: 30px;
}
.content .flex .col{
    column-count: 2;
    column-gap: 40px;
}
.content .flex .gambar img{
    padding-top: 15px;
    width: 500px;
    height: 350px;
}
.content .flex .title{
    text-align: justify;
    padding-bottom: 10px;
}
.content .flex .title h4{
    color: rgb(47, 0, 255);
}
.content .flex .title a:hover{
    font-weight: bold;
} */
.warp .sidebar{
    flex: 40%;
}

.warp .sidebar .main .title{
    background:  #2f3640;
    color: #fbfcfd;
    padding: 5px 15px;
}
.warp .sidebar .main ul{
    list-style: none;
}
.warp .sidebar .main ul li a{
    display: block;
    padding: 5px 20px 5px 0;
}

/* view.html */

.content .flex{
    text-align: justify;
}
.content .flex .judul{
    font-size: 20px;
}
.content .flex .image img{
    width: 100%;
}
.content .flex .isi{
    text-indent: 50px;
}
.content .flex .isi p{
    line-height: 25px;
}

.content .coment{
    padding: 25px 0;
}
.content .tile{
    color: #fff;
    background: rgb(27, 145, 172);
    padding: 10px;
}

.ment{
    border-radius: 20px;
    border: 1px solid #000;
    width: 700px;
    margin-top: 30px;
}

.com{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.name{
    display: flex;
}
.date{
    margin-right: 10px;
}
.h4{
    padding-left: 10px;
}
.isi{
    margin: 10px;
    padding-left: 5px;
}
.ment small{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.balas{
    border-radius: 20px;
    border: 1px solid #000;
    width: 700px;
    margin-top: 30px;
    margin-left: 300px;
}

.bal{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.balas small{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.tulis{
    padding: 25px 0;
}
.form{
    padding: 25px 0;
}
.fom{
    display: flex;
    margin: 20px;
    padding: 0 25px;
}
.fom .label{
    padding-right: 20px;
}
.fom .input{
    padding-left: 70px;
}
.fom input{
    width: 800px;
    height: 25px;
}
.fom .input1{
    padding-left: 73px;
}
.fom .input2{
    padding-left: 44px;
}

.fom textarea{
    width: 800px;
}
.kirim{
    padding: 10px;
    width: 80px;
    border: 1px solid #2f3640;
    border-radius: 25px;
    background:  #2f3640;
    color: #fff;
    text-align: center;
}
.kirim:hover{
    color: #2f3640;
    background: transparent;
}

.send{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
