.wrap{
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 16px #333;
}

.main{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.title{
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #2f3640;
    padding-bottom: 5px;
}

.button{
    padding: 10px;
    border: 1px solid #2f3640;
    border-radius: 25px;
    background: #2f3640;
    color: #fff;
}
.button:hover{
    color: #2f3640;
    background: transparent;
}
table{
    padding-top: 30px;
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0 30px;
    text-align: center;
}
table tr{
    height: 30px;
}
table th{
    background: #333;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
tabel td, th{
    padding: 6px 6px 6px 10px;
    border: 1px solid #ccc;
}
table tr:nth-of-type(odd){
    background: #eee;
}
.tab{
    counter-reset: serial-number;
}
.tab td:first-child::before{
    counter-increment: serial-number;
    content: counter(serial-number);
}
.edit{
    color: green;
    font-size: 20px;
}
.del{
    color: red;
    font-size: 20px;
}
td i{
    padding-left: 5px;
}
#reply{
    margin: 10px 5px 10px 5px;
    padding: 3px;
    background: #2f3640;
    box-shadow: 1px 2px 10px #333;
    color: #fff;
}
#reply:hover{
    color:  #2f3640;
    background: transparent;
}



/* reply */
.tombol{
    padding: 10px;
    width: 80px;
    border: 1px solid #2f3640;
    border-radius: 25px;
    background:  #2f3640;
    color: #fff;
    text-align: center;
}
.tombol:hover{
    color: #2f3640;
    background: transparent;
}

.new{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    /* margin-top: 30px; */
}

.comen{
    border-radius: 20px;
    box-shadow: 1px 2px 16px #333;
    width: 700px;
    margin-top: 30px;
}

.com{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.name{
    display: flex;
}
.date{
    margin-right: 10px;
}
.h4{
    padding-left: 10px;
}
.isi{
    margin: 10px;
    padding-left: 55px;
}
small{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.balas{
    border-radius: 20px;
    box-shadow: 1px 2px 16px #333;
    width: 700px;
    margin-left: 200px;
    margin-top: 20px;
}
textarea{
    width: 99%;
    height: 100px;
    border-radius: 20px;
    border: none;
}
