@media(max-width : 750px){
/* menu media */
    .header .menu .mein .name{
        display: block;
    }
    .header .menu .mein .nav{
        display: none;
        position: fixed;
        z-index: 9999;
        background-color: #60a3bc;
        width: 150px;
        top: 0;
        bottom: 0;
        right: 0;
        transition: 0.5s;
    }
    .header .menu .mein .nav a{
        padding: 12px 16px;
    }
    .header .menu .mein .nav a:hover{
        background-color: #353b48;
    }
    .header .menu:hover .nav{
        display: block;
    }

    /* bar */
    .navbar .main .nama{
        display: block;
        margin-top: 16px;
        padding: 5px;
    }
    .navbar .main .bar{
        display: none;
        position: fixed;
        z-index: 9999;
        background-color: #60a3bc;
        width: 200px;
        top: 0;
        bottom: 0;
        left: 0;
        transition: 0.5s;
    }
    .navbar .main .bar a{
        padding: 12px 16px;
    }
    .navbar .main .bar a:hover{
        background-color: #353b48;
    }
    .navbar:hover .bar{
        display: block;
    }

    /* sidebar */
    .warp{
        flex-wrap: wrap;
    }
    .warp .content{
        order: 0;
        flex: 100%;
    }
    .warp .content .wrap .col{
        column-count: 1;
        align-items: center;
    }
    .content .wrap .gambar img{
        width: 400px;
        height: 250px;
    }
    .warp .sidebar{
        order: 1;
        flex: 100%;
    }

    /* view */
    .content .wap .image img{
        width: 50%;
    }
    
}