@font-face {
    font-family: Faster_One;
    src: url(../fonts/Faster_One/FasterOne-Regular.ttf);
}

@font-face {
    font-family: hanging;
    src: url(../fonts/hanging/Hanged\ Letters.ttf);
}

@font-face {
    font-family: Monoton;
    src: url(../fonts/Monoton/Monoton-Regular.ttf);
}

@font-face {
    font-family: Varela_Round;
    src: url(../fonts/Varela_Round/VarelaRound-Regular.ttf);
}

body{
    padding: 0;
    margin: 0;
    font-family: Varela_Round;
    overflow-x: hidden;
}

* a{
    text-decoration: none;
}

.wrapper{
    width: 100%;
    display: flex;
}
.sidebar{
    flex: 25%;
    position: fixed;
    background-color: #353b48;
    width: 20%;
    float: left;
    height: calc(100vh);
    box-shadow: 0 0 10px rgba(89, 88, 88, 0.624);
}
.sidebar .branch{
    font-size: 45px;
    background-color: #2f3640;
    padding: 10px 10px 15px 10px;
    color: #fff;
    font-family: hanging;
    letter-spacing: 15px;
    text-align: center;
    word-spacing: 20px;
    margin-bottom: 20px;
}
.sidebar .user{
    text-align: center;
}
.sidebar .user img{
    width: 150px;
    border-radius: 15px;
    background-color: #fff;
    padding: 10px;
    border: solid 5px #ddd;
}
.sidebar .title{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    border-bottom: 1px solid #2f3640;
    padding-bottom: 10px;
}
.sidebar .list-menu{
    height: calc(100vh - 320px);
    overflow-y: auto;
    padding-bottom: 50px;
}
.sidebar .list-menu ul{
    list-style: none;
}
.sidebar .list-menu ul li{
    margin-left: -40px;
}
.sidebar .list-menu ul li a{
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #fff;
    border-bottom: 1px solid #2f3640;
}
.sidebar .list-menu ul li a:hover{
    background-color: #2f3640;
}
.sidebar .list-menu ul li a .icons{
    border: solid 1px #fff;
    width: 30px;
    height: 25px;
    text-align: center;
    padding-top: 7px;
    border-radius: 5px;
    margin-right: 15px;
}

.contents{
    flex: 75%;
    margin-left: 20%;
    padding: 10px 20px;
}

.contents .header{
    background-color: #353b48;
    padding: 15px 25px;
    height: 20px;
    color: #fff;
    border-radius: 4px;
}
.contents .header .head-left{
    float: left;
}
.contents .header .head-right{
    float: right;
}
.contents .header .head-right .main{
    cursor: pointer;
}
.contents .header .head-right .main ul{
    display: none;
    margin-top: 0px;
    padding-top: 14px;
    list-style: none;
    position: absolute;
    width: 100px;
}
.contents .header .head-right .main:hover ul{
    display: block;
}
.contents .header .head-right .main ul li{
    background: #353b48;
    margin-left: -40px;
}
.contents .header .head-right .main ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}
.contents .header .head-right .main ul li a:hover{
    background-color: #2f3640;
}

.daftar-artikel ul{
    list-style: none;
}
.daftar-artikel ul li{
    margin-left: -40px;
    margin-bottom: 20px;
}
.daftar-artikel ul li{
    border: solid 1px #eee;
    display: block;
    padding: 10px;
    border-radius: 5px;
    height: 80px;
    text-decoration: none;
    color: rgb(58, 61, 61);
}
.daftar-artikel ul li .list-left img{
    width: 80px;
}
.daftar-artikel ul li .list-left{
    float: left;
}
.daftar-artikel ul li .list-right{
    margin-left: 100px;
}
.daftar-artikel ul li .list-right .title a{
    color: rgba(28, 29, 29, 0.686);
}
.daftar-artikel ul li .list-right .title{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}
.daftar-artikel ul li .list-right .tag span{
    border: solid 1px #eee;
    margin-left: 20px;
    border-radius: 50px;
    padding: 3px 10px;
}
.daftar-artikel ul li .list-right .tag span:hover{
    background: #eee;
    border: solid 1px #eee;
    box-shadow: 0 0 5px rgb(136, 136, 136);
    cursor: pointer;
}
.daftar-artikel ul li .list-right .options{
    float: right;
    text-align: right;
    margin-top: 15px;
}
.daftar-artikel ul li .list-right .options .actions a{
    margin: 10px ;
    font-size: 20px;
    color: rgba(28, 29, 29, 0.686);
}
.daftar-artikel ul li .list-right .options .actions a i{
    border: solid 1px rgba(28, 29, 29, 0.686);
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
}
.daftar-artikel ul li .list-right .options .actions a:hover i{
    background: #eee;
    border: solid 1px #eee;
    box-shadow: 0 0 5px rgb(136, 136, 136);
}