.wrap{
    margin: 30px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 2px 16px #333;
}

.main{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.name{
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #2f3640;
    padding-bottom: 5px;
}

.button{
    padding: 10px;
    border: 1px solid #2f3640;
    border-radius: 25px;
    background: #2f3640;
    color: #fff;
}
.button:hover{
    color: #2f3640;
    background: transparent;
}

/* new post */
.tombol{
    padding: 10px;
    width: 80px;
    border: 1px solid #2f3640;
    border-radius: 25px;
    background:  #2f3640;
    color: #fff;
    text-align: center;
}
.tombol:hover{
    color: #2f3640;
    background: transparent;
}

.new{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.form{
    margin-left: 20px;
}
.input input{
    width: 100%;
    height: 25px;
}
.input1 input{
    width: 700px;
    height: 25px;
}
.des{
    display: flex;
    justify-content: space-between;
}
#menu{
    width: 200px;
    height: 30px;
}
.label{
    font-size: 15px;
    padding: 10px 0;
}

.area{
    padding-top: 20px;
    margin-left: 20px;
}
textarea{
    height: 300px;
}
.table{
    padding-top: 20px;
}
.bawah{
    padding-top: 20px;
}
.bawah1{
    display: flex;
}
.input2 input{
    width: 250px;
    height: 25px;
}
.input2 .url{
    width: 370px;
}