#card{
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0,0,0,0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
}
#card-content{
    padding: 12px 44px;
}
#card-tittle{
    font-family: sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}
.underline-title{
    background: -webkit-linear-gradient(right, #2f3640, #353b48);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
}

.a{
    text-decoration: none;
}
label{
    font-family: sans-serif;
    font-size: 11pt;
}
#forgot-pass{
    color: #2f3640;
    font-family: sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
}
.form{
    align-items: left;
    display: flex;
    flex-direction: column;
}
.form-border{
    background: -webkit-linear-gradient(right, #2f3640, #353b48);
    height: 1px;
    width: 100%;
}
.form-content{
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}
#signup{
    color: #2f3640;
    font-family: sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
}
#submit-btn{
    background: -webkit-linear-gradient(right, #2f3640, #353b48);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.65);
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    height: 42px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
}
#submit-btn:hover{
    box-shadow: 0px 1px 18px rgba(0,0,0,0.65);
}